---
---
$section-headings-color: #147599;
$section-headings-color: #147599;
@import "{{ site.theme }}";
.page-header {
  color: $header-heading-color;
  text-align: center;


  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }

background-color: #3D7EAA;  
background: -webkit-linear-gradient(to left, #FFE47A, #3D7EAA);  
background: linear-gradient(to left, #FFE47A, #3D7EAA); 

}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}
$section-headings-color: #147599;
